body {
  background-color: #181A1F;
  color: #eee;
  font-family: 'Palanquin', sans-serif;
  font-size: 17px;
}

main {
  padding: 20px;
  max-width: 1000px;
  margin: 50px auto;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.7em;
  }
}


/**********************************************
 * Misc
 **********************************************/

#resume-page {
 background-color: #fbfbfb;
 color: #484848;
}

.book-covers {
  text-align: center;
}

.book-cover {
  margin: 0 2px;
  vertical-align: middle;
  display: inline-block;
  height: 40vh;
  width: 25vh;
}

@media (max-width: 375px) {
  .book-cover {
    height: 33vh;
    width: 20vh;
  }
}


.youtube {
    position: relative;
    padding-bottom: 48.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    margin: 30px 0;
    background-color: #1F2229;
    border-radius: 2px;
}

.youtube iframe,
.youtube object,
.youtube embed {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

.youtube .play-button {
  background: transparent url("/icons/play-button.png") no-repeat;
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
}

img.youtube-thumb {
  bottom: 0;
  display: block;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  height: auto;
  cursor: pointer;
}

.resume-section h3 {
  text-align: center;
}

.resume-section .technologies {
  color: #7B0000;
  text-align: center;
}

.browserupgrade {
  position: absolute;
  bottom: 0;
  z-index: 5000;
  background-color: #FFFF4B;
  width: 100%;
  padding: 20px;
  color: black;
  margin: 0;
  text-align: center;
}
