

/*******************************************
 * Header & Nav
 *******************************************/

#site-header {
  width: 100%;
  z-index: 1000;
}

#header-title {
  flex-grow: 1;
}

#toggle-nav {
  background: transparent url("/icons/ic_menu_white_24px.svg") center no-repeat;
  position: absolute;
  right: 20px;
  height: 50px;
  width: 70px;
  border: none;
  outline: 0;
  background-color: #864242;
  border: none;
  border-radius: 2px;
}

.nav-open #toggle-nav {
  display: none;
}

.main-nav {
  background-color: #242D3C;
  padding: 0;
  text-align: center;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.15s ease;
}

.main-nav .nav-item {
  display: inline-block;
  text-align: center;
  max-width: 110px;
}

.main-nav a {
  color: #E6E6E6;
  text-decoration: none;
  outline: 0;
  display: inline-block;
}

.main-nav a:hover, .main-nav a:active, .main-nav a:focus {
  background-color: #48526B;
}

.main-nav a img {
  margin-bottom: 5px;
  display: none;
}


/*******************************************
 * Small
 *******************************************/
@media (max-width: 320px) {

 .main-nav .nav-item {
   width: 50vw;
 }

}


/*******************************************
* Medium
*******************************************/
@media (min-width: 321px) and (max-width: 600px) {
  .main-nav .nav-item {
    width: 32vw;
  }
}



/*******************************************
* Large
*******************************************/

@media (max-width: 1050px) {
  #site-header {
    position: fixed;
    top: 0;
  }

  .nav-open .main-nav {
    max-height: 500px;
  }

  .nav-closed .main-nav {
    max-height: 0;
  }

  .nav-open #content-container {
    opacity: 0.2;
  }

  .main-nav .nav-item {
    padding: 25px 0;
  }
}


@media (min-width: 601px) {
  .main-nav .nav-item {
    width: 25vw;
  }
}


@media (min-width: 1051px) {
  #toggle-nav {
    display: none;
  }

  .main-nav .nav-item {
    padding: 15px 0;
  }
}
