
.prose {
  color: #484848;
  padding: 0px 0px;
  margin: 0 auto;
}

.prose header {
  padding: 50px 0 0px 0;
  max-width: 1050px;
  margin: 0 auto;

}

.prose header h1 {
  text-align: center;
  background-color: #181A1F;
  color: #fbfbfb;
  margin: 0 0 30px 0;
}

.prose .description {
  color: #E2E2E2;
  padding: 15px 30px;
  font-size: 0.9em;
  text-align: center;
}

.header-wrapper {
  /*border-bottom: 1px solid #864242;*/
}

.description-wrapper {
  background-color: #4A5B77;
}

.content-wrapper {
  background-color: #fbfbfb;
}

.content {
    padding: 30px;
}

.prose header,
.prose .description,
.prose .content {
  margin: 0 auto;
  max-width: 1050px;
}

.prose h2 {
  margin: 35px 0px 20px 0px;
  border-bottom: 1px dashed #dcdcdc;
  padding-top: 5px;
}

.prose hr {
  width: 60%;
  color: #eee;
}

.prose p {
  margin: 0 15px 20px 15px;
  line-height: 1.5em;
}


#code-page {
  max-width: 600px;
}

.code-project .preview {
  background-color: white;
  height: 250px;
  width: 100%;
}

.code-project h2 {
  text-align: center;
  /*background-color: black;*/
  background-color: white;
  color: black;
  margin: 0;
}

.code-icon {
  height: 50px;
}

.code-project.miter h2 {
  background-color: black;
  color: white;
}

.code-project {
  color: #484848;
  /*background-color: #48526b;*/
  margin-bottom: 20px;
  border-radius: 2px;
  overflow: hidden;
}

.code-project .description {
  margin: 0;
  padding: 20px;
  background-color: #353535;
  border-top: 2px solid #448A5E;
  color: #fbfbfb;
  display: flex;
  flex-wrap: wrap;
}

.code-project .description .text-content {
  flex-grow: 1;
  width: 80%;
  margin: 0 10px 10px 0;
}

.code-project .buttons {
  flex-grow: 1;
  text-align: right;
}

.code-project .code-link {
  /*background-color: #ccc;*/
  background-color: #448A5E;
  color: #fbfbfb;
  padding: 5px 10px;
  /*border: 1px solid #7EA28B;*/
  display: inline-block;
  border-radius: 5px;
  /*margin-left: 10px;*/
  text-decoration: none;
  font-size: 0.9em;
}

.card:first-child {
  border-radius: 2px 2px 0 0;
}

.card:last-child {
  border-radius: 0 0 2px 2px;
}

.card {
  color: #484848;
  /*background-color: #dcdcdc;*/
  /*background-color: #393D48;*/
  background-color: #fbfbfb;
  /*padding: 10px 30px;*/
  /*flex-grow: 1;*/
  max-width: 600px;
  padding: 5px 30px;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
}

.card:nth-child(even) {
  background-color: #eee;
}

.card:nth-child(even) .post-date {
  color: #888;
}

.post-date {
  text-align: right;
  color: #c1c1c1;
  font-size: 0.9em;
  margin: 0 20px 5px 20px;
}

/*************************************************
 * Small
 *************************************************/
 @media (max-width: 600px) {

.card-row {
  flex-wrap: wrap;
}

.prose header {
   padding-top: 80px;
}

.prose header h1 {
  margin-bottom: 50px;
}

.prose .description {
  text-align: left;
}

.prose .content {
  padding-left: 15px;
  padding-right: 15px;
}

}

/****************************************
 * Content helpers
 ****************************************/


 pre {
   background-color: #E5ECF8;
   padding: 15px 30px;
   font-size: 0.9em;
   color: black;
   border-radius: 2px;
 }


 p.centered-image {
   text-align: center;
 }

 p.centered-image img {
   max-width: 400px;
   width: 70%;
 }


.dates {
  font-style: italic;
  font-size: 0.9em;
  font-weight: 200;
}
