.viewer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #171717;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.viewer-image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex-grow: 1;
}

.viewer-toolbar {
  width: 95%;
  align-self: center;
  max-width: 800px;
}

.viewer-toolbar button {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  height: 48px;
  width: 48px;
  border: none;
  padding: 10px 10px;
  outline: 0;
  margin: 0 2px;
}

.viewer-previous,
.viewer-next {
  float: right;
}

.viewer-back {
  background-image: url('/icons/ic_close_white_24px.svg');
}

.viewer-previous {
  background-image: url('/icons/ic_navigate_before_white_24px.svg');
}

.viewer-next {
  background-image: url('/icons/ic_navigate_next_white_24px.svg');
}
