<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <%= page title %>
  <%= page meta %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link href='https://fonts.googleapis.com/css?family=Palanquin:400,600' rel='stylesheet' type='text/css'>
  <!-- TODO Place favicon.ico in the root directory -->
  <%= page styles %>

</head>
<body class="nav-closed">
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div id="container"><%= page content %></div>

  <script type="text/javascript">
    var isTouch =  !!("ontouchstart" in window) || window.navigator.msMaxTouchPoints > 0;

    if( !isTouch ){
        document.body.classList.add("no-touch");
    }

    function bindNavToggle() {
      var navToggle = document.getElementById('toggle-nav');
      navToggle.addEventListener('mousedown', function(e) {
        e.stopPropagation();
        document.body.classList.toggle("nav-closed");
        document.body.classList.toggle("nav-open");
      });

      var content = document.getElementById('content-container');
      document.addEventListener('mousedown', function(e) {
        if (document.body.classList.contains("nav-open")) {
          document.body.classList.toggle("nav-open");
          document.body.classList.toggle("nav-closed");
        }
      });
    }
    bindNavToggle();
  </script>
  <%= page scripts %>

</body>
</html>
